.app-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  background: #fbfbfb;
  padding: 20px;
  overflow: hidden;

  &__footer {
    text-align: center;
    max-width: 1064px;
    width: 100%;
    margin-top: 40px;
  }

  &__card {
    background: white;
    border: 1px solid #f0ecf5;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1064px;
    border-radius: 12px;
    margin-top: 20px;
    min-height: 87vh;
    padding: 50px 23px;

    &__logo {
      width: 94.88px;
      height: 32px;
    }

    &__text {
      max-width: 297px;
      flex: 1;
      display: flex;
      flex-direction: column;

      img {
        height: 64px;
        width: fit-content;
      }

      h2 {
        font-size: var(--text-sm-2xl);
        font-weight: 700;
        line-height: 1.3;
        margin-top: 24px;

        strong {
          color: var(--orange-primary);
        }
      }
    }

    &__form {
      flex: 1;
      max-width: 466px;

      &.login {
        h2 {
          margin-bottom: 40px;
        }
      }

      h2 {
        font-size: 20px;
        color: var(--blue-primary);
        margin-bottom: 20px;
        margin-top: 25%;
      }

      &__desc {
        margin-bottom: 56px;
        color: #464c56;
        line-height: 1.5;

        .app-link {
          text-decoration: none;
        }
      }

      &__link {
        text-decoration: underline;
        font-weight: 800;
        font-size: 14px;
        color: var(--blue-primary);
        margin-left: auto;
        display: block;
        width: fit-content;
        margin-bottom: 32px;
      }

      .last-btn {
        margin-top: 56px;
      }
    }

    &__footer-text {
      text-align: center;
      margin: 40px 0 0 0;
      color: #464c56;
      &,
      * {
        font-size: 16px !important;
      }
    }
  }

  &__auth-method-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 24px 0;

    span {
      background-color: #fff;
      font-size: 12px;
      font-weight: 800;
      color: #8f92a1;
      position: relative;
      z-index: 1;
      padding: 0 10px;
    }

    &::after {
      content: "";
      height: 1px;
      background: var(--grey-divider);
      width: 100%;
      position: absolute;
    }
  }

  &__blur {
    position: absolute;
    height: 100%;
    pointer-events: none;
    opacity: 0.65;
  }
}

@media screen and (min-width: 768px) {
  .app-login {
    &__footer {
      text-align: end;
      max-width: 1064px;
      width: 100%;
      margin-top: 40px;
    }

    &__card {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      // gap: 20px;
      border-radius: 24px;
      min-height: 500px;
      margin-top: 0;
      padding: 0;

      &__logo {
        width: 189.77px;
        height: 64px;
        // margin-top: 85px;
      }

      &__text {
        max-width: 393px;
        padding: 100px 0px 100px 50px;

        h2 {
          margin-top: 48px;
          font-size: var(--text-2xl);
        }
      }

      &__form {
        padding: 100px 50px 100px 0px;

        &.login {
          padding: 25px 50px 25px 0px;

          h2 {
            margin-bottom: 20px;
          }
        }

        h2 {
          font-size: 26px;
          margin-top: 0;
          margin-bottom: 10px;
        }
      }
    }

    &__auth-method-divider {
      margin: 12px 0;
      span {
        font-size: 14px;
      }
    }

    &__blur {
      position: absolute;
      height: 100%;
      pointer-events: none;
    }
  }
}
